h1 {
    background-color: blue;
    color: white;
    text-align: center;
}

P{
    background-color: yellow;
}

body {
    background-color: lightgray;
}
.bg-green-h1 {
    background-color: green;
    color: white;
    text-align: center;
    padding: 40px;
    border: 5px solid black;
    border-radius: 50px;
    border-style: groove;
    margin: 50px;

}
.bg-blue-h1 {
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    letter-spacing: 0cap;
    text-decoration: underline double;
}
#pg-background{
    background-color: lightblue;
}
*{
    background-color: bisque;
    margin: 0%;
    padding: 0%;
} 
